.editor-header__toolbar,
.edit-post-header__toolbar {
	& > * {
		order: 2;
	}
}

#search-replace {
	&-modal {
		&__text-group {
			display: flex;
			flex-direction: column;
			gap: 1.25em;
		}

		&__button-group {
			display: flex;
			gap: 10px;

			button {
				margin: 0;
				width: 50%;
				justify-content: center;
				width: calc(50% - 5px);
				box-sizing: border-box;
			}
		}

		&__toggle {
			padding: 1.6em 0;
			gap: 10px;
			display: flex;
			flex-direction: column;
		}

		&__notification {
			margin-top: -0.05em;
			margin-bottom: 1.5em;
			padding: 0.75em 1.1em;
			background: #F1F1F1;
			border-left: 5px solid orangered;

			p {
				margin: 0;
				padding: 0;
			}
		}
	}
}

body {
	#search-replace {
		order: 1;
		z-index: 1000;
		margin-left: -8px;
    	margin-right: 6px;
	}

	&[class*='version-5-9-'],
	&[class*='version-6-0-'],
	&[class*='version-6-1-'] {
		#search-replace {
			margin-left: 8.5px;
			margin-right: -26px;
		}
	}

	&[class*='version-6-2-'],
	&[class*='version-6-3-'],
	&[class*='version-6-4-'] {
		#search-replace {
			margin-left: 8.5px;
			margin-right: -18px;
		}
	}

	&[class*='version-6-5-'] {
		#search-replace {
			margin-left: 8.5px;
			margin-right: -14px;
		}
	}

	&[class*='version-6-6-'] {
		#search-replace {
			margin-left: 8.5px;
			margin-right: -10px;
		}
	}
}
